.content {
    margin: 0 auto;
    max-width: 1440px;
    padding: 40px 0;
}

.logo_container {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
}

.company_container {
    display: flex;
    gap: 16px;
    /* justify-content: end; */
    /* align-items: end; */
    justify-content: center;
}

.letter_company, .company_name, .slogan {
    text-align: center;
    font-family: "Playfair Display", serif;
}

.letter_company {
    font-size: 88px;
    position: relative;
    top: 24px;
}

.company_name {
    font-size: 32px;
    letter-spacing: 3px;
}

.slogan {
    font-size: 16px;
}

.section {
    margin-bottom: 100px;
}

.section:first-of-type {
    margin-bottom: 100px;
    margin-top: 100px;
}

.subtitle {
    text-align: center;
    font-size: 40px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.description {
    text-align: center;
    margin-bottom: 16px;
    font-size: 24px;
}

.description > span {
    font-weight: bold;
    text-decoration: underline;
}

.description > span:first-child {
    font-weight: bold;
    text-decoration: underline;
}

.services_container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;

    & > img {
        height: 500px;
        border-radius: 100px;
    }
}

.services {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    font-size: 24px;
}

.services > li {
    list-style-type: disc;;
}

.images {
    display: flex;
    justify-content: center;
    gap: 32px;
    & > img {
        height: 800px;
    }
}



@media only screen and (max-width: 768px) {
    .services_container {
        flex-direction: column;
    }

    .content {
        padding: 40px 20px;
    }

    .logo {
        width: 340px;
    }

    .company_name {
        font-size: 24px;
        font-weight: 600;
    }

    .letter_company {
        font-size: 64px;
        top: 18px;
    }

    .slogan {
        font-size: 16px;
    }

    .services_container {
        padding: 0 26px;
    }
}

@media only screen and (max-width: 375px) {
    .services_container > img {
        height: 400px;
        background-color: red;
    }
}