.footer {
    background-color: black;
    width: 100%;
}

.footer_container {
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px;
}

.logo {
    width: 250px;   /* Tamaño visible deseado */
    height: 80px;
    overflow: hidden;

    & > img {
        width: 100%;
    height: 100%;
    object-fit: cover;        /* Rellena el contenedor cortando lo que sobra */
    object-position: center;  /* Centra la imagen en el contenedor */
    filter: invert(1) brightness(2);
    }
}

.company_name {
    color: white;
    font-size: 32px;
    font-family: "Playfair Display", serif;
}

.contact_title {
    font-weight: bold;
}

.contact_list li {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.contact_list_phone {
    display: flex;
    align-items: center;
    gap: 21px !important;
}

@media only screen and (max-width: 1024px) {
    .footer {
        flex-direction: column;
        gap: 32px;
    }

    .contact_container {
        text-align: center;
    }

    .contact_title {
        text-align: center;
    }

    .contact_list li {
        justify-content: center;
    }
}


@media only screen and (max-width: 768px) {
    .footer_container {
        flex-direction: column-reverse;
        gap: 32px;
    }
}

